.licensing-div {
  background: white;
  padding: 50px;
  border-radius: 20px;
  font-size: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.024),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.03),
  0 22.3px 17.9px rgba(0, 0, 0, 0.032),
  0 41.8px 33.4px rgba(0, 0, 0, 0.046),
  0 100px 80px rgba(0, 0, 0, 0.05);
}

.licensing-div table {
  width: 100%;
}

.licensing-div>table>tbody>tr>td,
.licensing-div>table>tbody>tr>th {
  border: 1px solid gray;
}

.licensing-div .pip-table td {
  border: 1px solid gray;
}

.licensing-div p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
