{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Create an Account</h1>

      <form name="signup_form" id="sdp-covid-signup">

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Sign Up" class="btn">
      
      </form>
            <a href="/login">Log in</a>
      
    </div>
  
  </div>
{% endblock %}