/* BTN FIND */
.btn-find {
  margin: 1vw;
  /*width: fit-content;*/

  /*top: 50%;*/
  /*left: 50%;*/
  transform: translate(-50%, -50%);

 /* box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12),
  0 0 91px 22px rgba(0,0,0,.05);*/

  padding: 2vw;
  border-radius: 2vw;

  background: #c9143e;
}

.btn-find:hover {
  text-decoration: none;
  background: #a1062f;
  transition: background 0.2s ease-in-out;
  cursor: pointer !important;
}

.btn-find:hover * {
  cursor: pointer;
}

.btn-find svg {
  margin-left: 2vw;
  margin-right: 1vw;
  transform: scale(1.5);
}

.btn-find svg path {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: white !important;
}

.btn-find-text-main {
  color: white;
  font-weight: 700;
  font-size: 2.4vw;
  margin: auto;
  margin-bottom: 0;
}

.info {
  font-size:2vw;
  color: rgb(70, 70, 70);
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: text;
}

@media only screen and (max-width: 767px) {
  .info {
    top: 70%;
    width: calc(100% - 50px);
  }

  .btn-find svg {
    display: none;
  }

  .btn-find {
    top: 45%;
  }
}

@media only screen and (max-width: 575px) {
  .info {
    top: 75%;
  }
}
